@import "legacy";

.sideMenu {
  @include Menu(0) {
    display: none;
  }

  margin-top: 1%;
  background-color: #F9F9F9;

  border-right: 2px dashed #B0BEC5;
  &:hover {
    border-right: 2px dashed black;
  }

  .sideItem {
    margin: 1em 0;

    color: #32343C;
    line-height: 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;

    &:first-child {
      --menu-item-color: purple;
    }
    &:nth-child(2) {
      --menu-item-color: violet;
    }
    &:nth-child(3) {
      --menu-item-color: blue;
    }
    &:nth-child(4) {
      --menu-item-color: cyan;
    }
    &:nth-child(5) {
      --menu-item-color: green;
    }
    &:nth-child(6) {
      --menu-item-color: yellowgreen;
    }
    &:nth-child(7) {
      --menu-item-color: yellow;
    }
    &:nth-child(8) {
      --menu-item-color: orange;
    }
    &:last-child {
      --menu-item-color: red;
    }

    &:hover,
    &:focus {
      color: var(--menu-item-color);
    }

    .menuItemName {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      padding: .5em 0;

      font-size: 1.5rem;
      font-weight: 500;

      &:before,
      &:after {
        position: absolute;
        content: '';

        width: 8em;
        height: 7px;

        bottom: 100%;

        background: #ddd;
      }
    }

    &:after, .menuItemName::after {
      background: var(--menu-item-color);

      transform: scale3d(0,1,1);
      transform-origin: 0 50%;
      transition: transform 0.5s;
    }

    &:hover .menuItemName::after,
    &:focus .menuItemName::after {
      transform: scale3d(1,1,1);
    }
  }
}