/* --- TABLEAU RÉSUMÉ COMMANDE --- */
#cart {
  width: 99%;
}

#changeCart {
  width: 20%;
}

.updateQuantity {
  cursor: pointer;
}

/* --- TABLEAU DU TOTAL --- */

.tableTotal {
  width: 25%;
  margin-left: 72.5%;

  text-align: center;
}

.pay {
  margin-left: 41vw;
}