@import "variables";

@mixin ecrans($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $smallScreen px) { @content }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $mediumScreen px) { @content }
  }
  @else if $media == wide-screens {
    @media only screen and (max-width: $largeScreen px) { @content }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $extraLargeScreen px) { @content }
  }
  @else {
    @warn "Le type :  `#{$media}` n'est pas défini.";
  }
}

@mixin Menu($size) {
  @if $size == 1477 {
    @media only screen and (min-width: $size px) { @content; }
  }
  @else if $size == 0 {
    @media only screen and (max-width: 1476px) { @content }
  }
  @else {
    @warn "La taille : `#{$size}` n'est pas pris en compte.";
  }
}