body {
  background-color: #E5E5E5;
  font-family: 'visionregular', serif;
}

.activator {
  cursor: pointer;
}

.centerAuto {
  @extend %centerAuto;
}

.inline {
  display: inline;
}

.userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullCol {
  margin: unset !important;
  max-width: 100% !important;
  width: 100% !important;
}
.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.no-spin, .no-spin:hover, .no-spin:focus {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}

.help {
  margin-left: 5%;

  cursor: help;

  :hover {
    color: #0f9d58;
  }
}