@import "../../../extensions/materialize/sass/materialize";
@import "functions";
@import "legacy";

.menuHamburger {
  @include Menu(0) {
    display: block !important;
  }
  @include Menu(1477) {
    display: none !important;
  }
}
.logoMobile {
  padding-top: 5%;
}
.nav-title li a {
  padding: 1em;
}
.menuBtn {
  @extend %affichageMenu;
}

.sticky-nav {
  @extend %sticky;
  @extend %affichageMenu;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background-color: $primary-color;

  a {
    padding: 1em 7.5em;
    color: $navbar-font-color;

    &:hover {
      background-color: lighten($primary-color, 4);
    }
  }

}

.mainContent {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;

  width: 98vw;
  min-height: 76vh !important;
  height: auto !important;

  background-color: #F4F4F4;

  @include Menu(0) {
    width: 98vw !important;
  }
}
