@import "functions";

%sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  z-index: 500;
}
%affichageMenu {
  @include Menu(0) {
    display: none !important;
  }
}

%centerAuto {
  margin-left: auto;
  margin-right: auto;
}

%max-heightPopUp {
  max-height: 100% !important;
}