@import "legacy";

.modalSignUp {
  @extend %max-heightPopUp;

  margin-top: -1.5% !important;

  .addressCity {
    width: 78%;
  }
}

@media only screen and (max-width: 992px) {
  #signUp {
    width: 95% !important;
    height: 100% !important;
    max-height: 87% !important;
  }

  #login {
    width: 95% !important;

    max-height: 55% !important;

    margin-top: 15%;
  }
}

@media only screen and (min-width: 993px){
  #signUp {
    width: 40% !important;
    height: 100% !important;
    max-height: 87% !important;

    margin-top: -2% !important;
  }

  #login {
    width: 45% !important;
    height: 35% !important;

    margin-top: 10%;
  }
}