@import "legacy";

.tailorBloc {
  border: 1px green solid;

  .tabs-content.carousel .carousel-item {
    height: auto !important;
  }


  #curtainsTab, #sheersTab {
    padding-left: .5em;
  }

  .radioStyle {
    display: none;

    &:checked {
      + label:before {
        display: none;
      }

      + label {
        padding: 1em 2em;
        background: #4a148c;
        border-radius: 2px;
        color: #fff;
      }
    }
  }

  .labelRadio {
    display: inline-block;
    position: relative;

    padding: 1em 1em 1em 2em;

    color: black;
    font-size: 1em;

    cursor: pointer;
    border-radius: 5px;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      background: rgba(#FFFF00, .1);
    }

    &:before {
      position: absolute;
      display: inline-block;
      content: "";

      width: 17px;
      height: 17px;

      border-radius: 50%;
      left: 1%;

      background: none;
      border: 3px solid black;
    }
  }
}

.informationBloc {
  flex-flow: column wrap;

  max-height: 100.5vh;
  padding: 2%;

  overflow-y: auto;
  border: 1px red solid;
}
